/* Fuente Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Mobile View 
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/

/* Variables de color */
:root {
  --decorado: #b58f26;
  --decorado1: #a08a5a;
  --decorado2: #ffecb7;
  --decorado4: #907335;
  --decorado5: #d2ba8740;
}

/*************************************************************************************  
  main section
*************************************************************************************/
/* Aviso */
.aviso {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 5;
}

.aviso div {
  width: 100rem;
  display: flex;
  animation: letrero 30s infinite linear;
}

@keyframes letrero {
  from{margin-left: 105%;}
  to{margin-left: -105rem;}
}

.aviso div p {
  width: 45rem;
  height: 2rem;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.aviso div .vacio {
  width: 10rem;
}

.aviso div p i {
  margin-right: 0.5rem;
  color: var(--decorado);
}

/* Secciones */
.sectionWrapper {
  width: 100%;
  margin: 4rem 0;
}

.sectionWrapper .sectionWrapperImg {
  width: 100%;
}

.quienesSomos {
  margin-top: 0;
}

.quienesSomos .quienesSomos__img {
  width: 80%;
  margin: 0 auto;
}

.quienesSomos .quienesSomos__info h1 {
  margin-top: 0;
}

.sectionWrapper .sectionWrapperImg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sectionWrapper .sectionWrapperInfo {
  width: 100%;
}

/* Información de cada sección */
.sectionWrapper .sectionWrapperInfo .infoText, .alianzas .infoText {
  width: 85%;
  text-align: justify;
  margin: auto;
  line-height: 2.5rem;
  letter-spacing: 0.0671rem;
}


/* Títulos */
h1, h2 {
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  margin: 2rem 7.5% 1rem;
  text-align: left;
}

.whoWeAre {
  width: 100%;
  margin: 2rem auto;
}

.team {
  width: 8.5rem;
  letter-spacing: 0.6rem;
}

.experience {
  width: 13rem;
  letter-spacing: 0.45rem;
}

.alliances {
  width: 10.5rem;
  letter-spacing: 0.45rem;
}

h1::before {
  content: '';
  display: block;
  width: 75%;
  height: 0.12rem;
  background-color: var(--decorado);
  position: absolute;
  bottom: 0;
}

h2::before {
  content: '';
  display: block;
  width: 75%;
  height: 0.12rem;
  background-color: var(--decorado);
  position: absolute;
  bottom: 0;
}

.alliances__logos div {
  width: 85vw;
  height: 12rem;
  margin: 1rem auto;
}

.alliances__logos div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Tablet View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 600px) {
  .alliances__logos div {
    width: 50vw;
  }

  .whoWeAre {
    width: 22rem;
  }
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Desktop View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/

/*************************************************************************************
  Main section
*************************************************************************************/
@media screen and (min-width: 1000px) {
  /* Secciones */
  .sectionWrapper {
    width: 100%;
    height: 25rem;
    display: flex;
  }

  .sectionWrapper .sectionWrapperImg {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .sectionWrapper .sectionWrapperInfo {
    width: 50%;
    display: flex;
    align-items: center;
  }

  /* Logo */
  .quienesSomos .quienesSomos__img {
    margin: 0;
  }

  .quienesSomos .quienesSomos__img .quienesSomos__img-logo {
    width: 100%;
    object-fit: none;
  }

  /* Cambia la distribución en la sección equipo */
  .equipo {
    flex-direction: row-reverse;
  }

  /* Información de cada sección */
  .sectionWrapper .sectionWrapperInfo .infoText, .alianzas .infoText {
    letter-spacing: 0.2rem;
    line-height: normal;
  }

  /* Logos de alianzas */
  .alliances__logos {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
  }

  .alliances__logos div {
    width: 30%;
  }

  .main__header .main__header-wrapper .main__header-wrapperText {
    width: 16rem;
    height: 13rem;
  }

  .whoWeAre {
    font-size: 3rem;
    width: 27rem;
    margin: 2rem auto;
  }

  .team {
    width: 10rem;
    letter-spacing: 0.6rem;
  }
  
  .experience {
    width: 14rem;
    letter-spacing: 0.45rem;
  }
  
  .alliances {
    width: 12.5rem;
    letter-spacing: 0.45rem;
  }

  h2 {
    font-size: 2.25rem;
  }
}